

 body {
    background-color: #f5f5f5;
  }
  /*NAVBAR*/

  .navbar {
    background-color: white;
    bottom: 0;
    width: 100%;
  }

  #navbar {
    background-color: white;
  }

  #navbar a {
    float: left;
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  #navbar a:hover {
    background-color: white;
    color: gray;
  }

  #navbar a.active {
    background-color: white;
    color: gray;
  }
  .dropdown:hover .dropdown-menu {
	display: block;
	}

  /*LEARN MORE BUTTON*/
  .btn-learnmore-green{
	  padding: 10px 35px 10px 35px;
	  background-color: #046431;
	  color: #ffffff;
  }

  
  .fa fa-play-circle-o{
	  font-size: 35px;
  }
  /*IPC ESSENTIAL CONTIANER */
  .ipc-essential-container{
	  background-color: #f6f9fc;
	  padding: 100px 0px 100px 0px;
	  
  }
  .what-is-ipc-essential{
	  text-align: center;
	  padding: 50px 0px 100px 0px;
  }
  /*INVESTMENT CONTAINER*/
  .investment-container{
	  padding: 80px 0px 80px 0px;
	  background-color: #ffffff;
	  width: 100%;
	  text-align: center;
  }
  /*NO FUSS CONTAINER*/
  .no-fuss-container{
	  background-color: #e9e8e6;
	  padding: 100px 0px 100px 0px;
	  width: 100%;
  }
  /*Income Balanced Growth*/

   svg {
    height: 15vh;
    margin: auto;
    display: block;
  }

  path {
    stroke-linecap: round;
    stroke-width: 4;
  }

  path.grey {
    stroke: lightgrey;
  }

  path.purple {
    stroke: purple;
    stroke-dasharray: calc(20 * 5.142 * 1.85);
    stroke-dashoffset: 100;
    /* adjust last number for variance */
  }
  .ibg_container{
	  
	  text-align:center;
	  padding: 100px 0px 100px 0px;
	  background-color: #fff;
  }
  .text-center{
	  text-align: center;
  }
  